body
{
    font-family: helvetica;
    padding: 20px;
    text-transform: uppercase;
}

.umbrella
{
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

.forecast
{
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

.light
{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.form
{
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

a
{
    text-decoration: none;
    color: #000000;
}

h2
{
    padding: 0px;
    margin: 0px;
    color: #888888;
}

h2 a
{
    text-decoration: none;
    color: #888888;
}

p
{
    color: #000000;
}

p a
{
    color: #000000;
}

input[type=text]
{
    font-size: 80px;
    color: #696969;
    border-top: none;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    font-weight: bold;
}

select
{
    font-size: 80px;
    color: #696969;
    border-top: none;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    font-weight: bold;
}

input[type=submit]
{
    font-size: 80px;
    color: #ffffff;
    background-color: #696969;
    font-family: helvetica;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover
{
    background-color: #000000;
}

.yes
{
    color: #248eff;
}

.no
{
    color: #248eff;
}

.red
{
    color: red;
}
